*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cabecalho{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cabecalho p{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}